#mainMenu > .btn-toolbar {height: 35px; line-height: 35px;}
.dropdown-menu > li.selected > a:after {content: '';}
.repo-select {width: 180px; border-color: darkgray; background: #fff; color: darkgray;}
.repo-diff .btn-group>.btn:first-child {border-radius: 4px;}
.repo-diff .dropdown-menu {max-height: 240px; max-width: 300px; overflow-x: initial; overflow-y: overlay;}
#dropMenuSource.dropdown-menu, #dropMenuTarget.dropdown-menu {overflow-y: hidden;}
.repo-diff b {padding: 0 5px 0 10px;}
.repo-diff .search-list .list-group {max-height: 180px; margin: 0;}
.repoCode .repo-diff .tree li.has-list.open:before {border-left: none; position: unset;}
.repo-diff .hide-in-search {padding-left: 10px;}
.repo-diff li>a.selected {color: #e9f2fb; background-color: #16a8f8;}
.repo-diff .page-title .label {margin: 0px; color: #000;}
.repo-diff .tree li {padding: 0 0 0 10px; line-height: 25px;}
.repo-diff .icon-exchange {font-size: 30px !important;}
.repo-diff .label-exchange, .repo-diff .label-exchange-git {background: none;}
.diffForm {margin: 3px 0 0 10px;}
.branch-or-tag {border-radius: 4px;}
#sourceList .hide-in-search .hidden, #targetList .hide-in-search .hidden {display: block !important; visibility: inherit !important;}

.repoCode .tree li.has-list.open:before {border-left: none;}
#fileTree li {padding: 0 0 0 8px;}
#fileTree li.has-list {padding-left: 20px;}
#fileTree li > a {display: block; padding: 6px 0; border-radius: 2px; padding-left: 6px; height: 30px; text-decoration: none;}
#fileTree li > a > span {display: inline-block;}
#fileTree li > a > span + span {margin-left: 8px;}
#fileTree li.selected > a {background-color: #E8F3FC;}
#fileTree li.selected > a > span.title {color: #006AF1;}
#fileTree .label-id {border-color: #cbd0db; color: #7d8599}
#fileTree .label.label-type {background: #fff; border: 1px solid #7d8599; color:#7d8599}

#fileTree li > a > span.title {color: #3C4353; white-space: nowrap; max-width: 60%; overflow: hidden; text-overflow: ellipsis; vertical-align: middle;}
#fileTree li > a > span.user {color: #838a9d;}
#fileTree li > a > span.user > .icon-person {font-size: 14px; position: relative; top: -1px; color: #a6aab8}
#fileTree li > a:first-child {padding-left: 18px;}
#fileTree li a.selected {color: #e9f2fb; background-color: #0c64eb;}

#fileTree li > .list-toggle {transform: rotate(0deg); width: 16px; height: 16px; border: 4px solid #a6aab8; border-radius: 2px; top: 7px;}
#fileTree li > .list-toggle:before {content: ' '; display: block; position: absolute; border: 1px solid #a6aab8; top: 2px; left: -3px; right: -3px; bottom: 2px; min-width: 0; transition: all .2s;}
#fileTree li > .list-toggle:hover:before, #fileTree li > .list-toggle:hover {border-color: #006AF1;}
#fileTree li.open > .list-toggle {width: 12px; height: 12px; top: 9px; background-color: #a6aab8; border-width: 3px; left: 3px;}
#fileTree li.open > .list-toggle:before {border: none; height: 2px; width: 6px; left: 0; top: 2px; background: #fff;}
#fileTree li.open > .list-toggle:hover {background: #006AF1;}

#fileTree ul > li:after {display: block; position: absolute; content: ' '; border-top: 1px dashed #cbd0db; top: 14px; left: -12px; z-index: 1; width: 10px;}
#fileTree ul > li:before, #fileTree ul > li.has-list:before {background: none; content: ' '; display: block; position: absolute; width: auto; height: auto; border: none; border-left: 1px dashed #cbd0db; top: -13px; bottom: 12px; left: -12px;}
#fileTree ul > li:last-child:before {bottom: auto; height: 29px;}
#fileTree ul > li:first-child:before {top: -9px;}
#fileTree ul > li.has-list:first-child:before {top: -13px;}
#fileTree ul > li.tree-single-item:before {height: 23px;}
#fileTree ul > li.has-list:after {width: 14px;}
#showClosed1 + label{color: #3c4353}

#fileSwapper {position: relative; margin-left: 15px;}
#fileSwapper .text {color: #0c60e1}
#fileSwapper .caret{color: #838a9d}
#fileSwapper #dropMenu .tree {margin: 0;}
#dropMenu .col-left {padding-bottom: 10px;}
a.fileName:focus, a.fileName:hover {background: #0c64eb; color: #fff !important;}
.panel-heading {padding-bottom: 0px;}

.code-survey {vertical-align: middle; line-height: 34px; display: inline-block;}
.code-survey .add-cot {color: limegreen;}
.code-survey .delete-cot {color: red;}

.repoCode .list-toggle {width: 20px; cursor: pointer; display: inline-block; line-height: 24px; text-align: center; -webkit-transition: all .2s; -o-transition: all .2s; transition: all .2s;}
.repoCode .list-toggle-open {-webkit-transform: rotate(90deg); -ms-transform: rotate(90deg); -o-transform: rotate(90deg); transform: rotate(90deg);}
.repoCode .list-toggle:before {content: "\f0da";}
.repoCode .list-toggle:hover {color: #0c64eb;}

.version-name {padding-left: 5px; max-width: 85px;}
.svn-version {width: 160px; display: inline-block;}
.svn-path {display: inline-block; padding: 0px 5px 0px 0px;}
.diff-btn {position: relative; margin: 0; padding: 0; display: none;}
.repoCode tr.over .diff-btn {display: block;}
.icon-info-sign {display: inline-block; position: absolute; font-weight: normal; font-size: 18px; line-height: 18px; right: -3px; background: #cdcdcd; cursor: pointer;}
#commit-box {position: relative; top: -150px; left: 15px; color: #3c4353;}
.commit-title {font-size: 15px; font-weight: 700; line-height: 20px; padding: 15px; text-align: left;}
.commit-show {min-width: 350px; max-width: 800px; max-height: 500px; overflow: hidden;}
.commit-show table {table-layout: fixed; width: 500px;}
.commit-show th {padding-top: 8px; text-align: right; width: 80px;}
.commit-show td {text-align: left; overflow: hidden; text-overflow: ellipsis; white-space: nowrap;}

.file-name, .label-exchange-git {cursor: pointer;}
.repo .repoCode .hideImportant {display: none !important;}

#modules li {padding: 5px 0 0 15px;}
#modules .mini-icon {margin-left: 5px;}
#dropMenuRepo > div.table-row > div > div > ul > li > div {padding-left: 20px;}
#dropMenuRepo > div.table-row > div > div > ul > li > i {top: 4px;}

.page-title .tree li > a {max-width: 100%;}
.page-title .tree li.has-list.open:before {border-left: 0px;}

.repoCode td.code {white-space: inherit;}

.comment-cell .panel-heading {padding: 8px 16px 7px 20px;}
.view-bug {padding-right: 10px;}
